<div class="container">
    <h4 class="text-center" style="text-decoration: underline;">Post a New Quote</h4>
    <div class="form-view">
        <form (ngSubmit)='submitGoal()'#goalForm='ngForm'>
            <div class="form-group">
    
                <label for="text">Type Your Quote</label> <br>
                <textarea class="form-control" id="quote" rows="4"[(ngModel)]="quotation.statement" name="quotation" #quote='ngModel' required></textarea>
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <p style="color: red;">The quote is blank</p>
                    </div>
    
            </div>
            <div class="form-group">
    
                <label for="author"> Quote Author</label><br>
                <input type="text"  class="form-control"[(ngModel)]="quotation.author" name="author" #statement='ngModel' id="statement"required>
                <div [hidden]="statement.valid || statement.pristine" class="alert alert-danger">
                    <p style="color: red;">Author name cannot be blank</p>
                </div>
                
            </div>
            <div class="form-group">
    
                <label id="dateLabel" for="date">Select Quote Date</label> <br>
                <input type='date' id="date" [(ngModel)]="quotation.datePast" name="date" #date="ngModel"required>
                <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                    <p>Select a date</p>
                    </div>
    
            </div>
            <button type="submit" class="btn btn-success">Post New Quote</button>
        </form>
    </div>
</div>