<div class="intro container-fluid">
    <h2 class="de-quotes"><sup><i class="fa-solid fa-quote-left fa-1x de-quotes"></i></sup>Quotes are seasoned inspirations.<sup><i class="fa-solid fa-quote-right fa-1x"></i></sup></h2>
    <p class="normal-text">I know that sounds like an explanation or a quote. You will tell me the answer. <br> We are all wise and knowledgeable but most of the time end up not knowing  what to say at some given times in life, wishing one gave us a clue. Actually, </p>
    
    <p class=" de-quotes"> <br> <sup><i class="fa-solid fa-quote-left fa-1x de-quotes"></i></sup>Quotes are wise sayings meant to give us a hint of what we already know. <sup><i class="fa-solid fa-quote-right fa-1x"></i></sup></p> 
    
    <p class="normal-text">They make us aware of the things we already know, have experienced, or have stored in the long-term memory.</p>

    <p class=" de-quotes"><sup><i class="fa-solid fa-quote-left fa-1x"></i></sup>Pay frequent visits to the quotes site and experience the feeling of <em>'growing wiser'<sup><i class="fa-solid fa-quote-right fa-1x"></i></sup></em></p>
</div>
