<div class="container">
    <div class="row quotes">
        <h1 class="m-5 text-center">Fine Quotes</h1>

    <ul *ngFor='let quote of quotes;let i = index'>
        
        <li class="quote-part " > <sup><i class="fa-solid fa-quote-left  fa-1x"></i></sup>  {{quote.statement}} <sup><i class="fa-solid fa-quote-right  fa-1x"></i></sup></li>
        
        <li id="list"> By: {{quote.author}} <br> Posted: {{quote.datePast|dating}}</li>
        
        <app-quote-info class="text-center" *ngIf='quote.statement' [quote]='quote'(isComplete) = 'deleteQuote($event,i)' ></app-quote-info>
    </ul>

    </div>

    <div class="row">
        <h2 class="m-3 text-center">Fine Quotes Worth a lifetime</h2>
        <app-cite-form (addQuote)="newQuotation($event)"></app-cite-form>

    </div>
</div>

