ul li{
    list-style-type: none;
}
/* .page{
    height: 100vh;
} */
.fine{
    /* height: 100vh; */
    /* overflow: scroll; */
    margin: 0 auto 0.4rem auto;
}
.quotes{
    margin: 0;
    /* overflow-wrap: break-word; */
}
.form-row{
    width: 50%;
    height: max-content;
    margin: 0 auto;
    background-color: rgb(221, 217, 211);
    padding-bottom: 2rem;
    margin-right: 0.4rem;
}
.quote-part{
    min-width: 30%;
    max-width: 32%;
    border: solid thin;
    border-radius: 0.6rem;
    padding: 0.3rem;
    float: none;
    margin-right: 0.2rem;
    background-color: rgb(221, 217, 211);

}
#details{
    text-align: center;
    padding-top: 0.1rem;
}
.the-quote{
    font-weight: 800;
}